<p-toast></p-toast>

<p-toolbar>
  <div class="p-toolbar-group-left">
    <label for="productCode">Agregar producto</label>
  </div>
  <div class="p-toolbar-group-right">
    <button pButton label="Regresar" icon="pi pi-sign-out" class="p-button-info mr-2" (click)="goProductsList()"></button>
  </div>
</p-toolbar>

<div style="margin-top: 0.1cm;"></div>

<div class="card">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <div style="margin-top: 0.1cm;"></div>
    <p-floatLabel style="padding: 20px;">
      <input pInputText id="barcode" [(ngModel)]="product.barcode" />
      <label for="username">Codigo de producto</label>
    </p-floatLabel>
    <p-floatLabel style="padding: 20px;">
      <input pInputText id="name" [(ngModel)]="product.name" />
      <label for="username">Nombre del producto</label>
    </p-floatLabel>
    <p-floatLabel style="padding: 20px;">
      <input pInputText id="description" [(ngModel)]="product.description" />
      <label for="username">Descripción del producto</label>
    </p-floatLabel>
    <p-floatLabel style="padding: 20px;">
      <p-inputNumber inputId="price" [(ngModel)]="product.price" />
      <label for="username">Precio del producto</label>
    </p-floatLabel>
    <p-floatLabel style="padding: 20px;">
      <p-inputNumber inputId="stock" [(ngModel)]="product.stock" />
      <label for="username">Existencias del producto</label>
    </p-floatLabel>
    <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2" (click)="addProduct()"></button>
  </div>
</div>





