<p-toast></p-toast>
<p-toolbar>
    <div class="p-toolbar-group-left">
      <img src="assets/logo.png" alt="Logo" style="height: 40px;">
    </div>
    <div class="p-toolbar-group-right">
      <button pButton label="Cerrar Sesión" icon="pi pi-power-off" class="p-button-danger mr-2"></button>
    </div>
</p-toolbar>

<div style="margin-top: 0.1cm;"></div>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text"  placeholder="Buscar producto" [(ngModel)]="searchBox" 
                (keyup.enter)="searchProduct()"/>
            </span>
            &nbsp;
            <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2" (click)="goAddProduct()"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Escánear" icon="pi pi-qrcode" class="p-button-info mr-2" (click)="goBarcode()" ></button>
            <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
            &nbsp;
            <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <div style="margin-top: 0.1cm;"></div>

    <p-table #dt [value]="products" [rows]="10" [paginator]="true" [tableStyle]="{'min-width': '75rem'}"
         [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando  del {first} al {last} de {totalRecords} productos" [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="min-width:15rem">Producto <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="stock">Stock <p-sortIcon field="stock"></p-sortIcon></th>
                <th pSortableColumn="price" style="min-width:10rem">Precio <p-sortIcon field="price"></p-sortIcon></th>
                <th>Detalle</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.stock}}</td>   
                <td>{{product.price}}</td>      
                <td>
                    <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-success mr-2"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>

